@using PagedList.Mvc
@using HungHaStore.Helper;
@model PagedList.IPagedList<HungHaStore.Models.nha_cung_cap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nhà cung cấp</h2>
<br />
<p>
    <a href="@Url.Action("Create")" class="btn btn-outline-info">Thêm nhà cung cấp</a>
</p>
<table class="table table-striped border">
    <thead class="thead-dark">
        <tr>
            <th>
                Tên nhà cung cấp
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Sđt
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dia_chi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a href="@Url.Action("Edit","AProvider",new { id=item.id})" class="btn btn-warning">Sửa</a>
                <a href="@Url.Action("Delete","AProvider",new { id=item.id})" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
    }

</table>
<div class="row pb-5">
    <div class="col">
        <div class="pagination justify-content-md-center">
            @Html.PagedListPager(Model, page => Url.Action("Index", "AProvider", new { page }))
        </div>
    </div>
</div>
