@using HungHaStore.Helper;
@using HungHaStore.Models;
@{
    var currency = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    nguoi_dung nguoiDung = ViewBag.nguoiDung;
    ViewBag.Title = "Index";
}
<div class="container mb-5">
    <div class="card">
        <div class="card-header">
            THÔNG TIN ĐẶT HÀNG
        </div>
        <div class="card-body">
            <form action="@Url.Action("CreateInvoice","Cart")" method="get">
                <h4>Thông tin nhận hàng</h4>
                <hr />
                <div class="form-group">
                    <label for="">Tên người nhận</label>
                    <input type="text" class="form-control" name="ten_nguoi_nhan"  placeholder="Nhập vào tên người nhận" required value="@nguoiDung.ho_ten">
                </div>
                <div class="form-group">
                    <label >Số điện thoại người nhận</label>
                    <input type="text" class="form-control" name="sdt_nhan"  placeholder="Nhập số điện thoại" required value="@nguoiDung.sdt">
                </div>
                <div class="form-group">
                    <label>Địa chỉ nhận</label>
                    <input type="text" class="form-control" name="dia_chi_nhan" placeholder="Nhập địa chỉ nhận hàng" required value="@nguoiDung.dia_chi">
                </div>
                <h4 class="mt-5">Thông tin sản phẩm</h4>
                <hr />
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (Cart item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.ten</th>
                                    <td>@String.Format(currency, "{0:c0}", item.gia_tien)</td>
                                    <td>@item.so_luong</td>
                                    <td>@String.Format(currency, "{0:c0}", CalculatorHelper.priceSale(item.giam_gia, item.gia_tien))</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2"></td>
                                <td>Tổng tiền</td>
                                <td><b>@String.Format(currency, "{0:c0}", CartHelper.sumMoney())</b></td>
                            </tr>
                        }

                    </tbody>
                </table>
                <button type="submit" class="btn btn-success pull-right">Đặt hàng</button>
            </form>

        </div>
    </div>
</div>