@using HungHaStore.Models;
@model IEnumerable<HungHaStore.Models.hoa_don>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var currency = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<h2>Danh sach hóa đơn</h2>
<br />
<table class="table table-striped border">
    <thead class="thead-dark">
        <tr>
            <th>
                Khách hàng
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Số tền
            </th>
            <th>
                Thời gian tạo
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nguoi_dung.tai_khoan)
        </td>
        <td>
            @if (item.trang_thai == hoa_don.TRANG_THAI_XU_LY)
            {
                <span class="font-weight-bold text-warning">Đang xử lý</span>
            }
            else
            {
                <span class="font-weight-bold text-success">Hoàn thành</span>
            }
        </td>
        <td>
            @String.Format(currency, "{0:c0}", item.tong_tien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tg_tao)
        </td>
        <td>
            <a class="btn btn-warning" href="@Url.Action("Details","AInvoice",new { id= item.id})">Chi tiết</a>
            <a class="btn btn-danger" href="@Url.Action("Delete","AInvoice",new { id= item.id})" data-confirm="Chắc chắn xóa? Nếu xóa danh mục sẽ xóa tất cả những sản phẩm trong danh mục đó">Xóa</a>
        </td>
    </tr>
}

</table>
