@using PagedList.Mvc
@using HungHaStore.Helper;
@using HungHaStore.Models;
@model PagedList.IPagedList<HungHaStore.Models.hoa_don>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var currency = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="card">
    <div class="card-header">
        <b>DANH SÁCH HÓA ĐƠN</b>
    </div>
    <div class="card-body">
        <form action="@Url.Action("Index")" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Nhập vào tên người nhận hoặc SĐT" value="@ViewBag.search">
            </div>
            <div class="input-group mb-3">
                <input type="text" name="daterange" class="form-control" placeholder="Khoảng thời gian" readonly value="@ViewBag.daterange"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                <a href="@Url.Action("Index","AInvoice")" class="btn btn-secondary">Làm lại</a>
            </div>
        </form>
        <hr />
        <table class="table table-striped border">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Khách hàng
                    </th>
                    <th>
                        Tên người nhận
                    </th>
                    <th>
                        SĐT nhận
                    </th>
                    <th>
                        Địa chỉ nhận
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Số tền
                    </th>
                    <th>
                        Thời gian tạo
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nguoi_dung.tai_khoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ten_nguoi_nhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdt_nhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dia_chi_nhan)
            </td>
            <td>
                @if (item.trang_thai == hoa_don.TRANG_THAI_XU_LY)
                {
                    <span class="font-weight-bold text-warning">Đang xử lý</span>
                }
                else if (item.trang_thai == hoa_don.TRANG_THAI_HOPAN_THANH)
                {
                    <span class="font-weight-bold text-success">Hoàn thành</span>
                }
                else if (item.trang_thai == hoa_don.TRANG_THAI_YEU_CAU_HUY)
                {
                    <span class="font-weight-bold text-secondary">Yêu cầu hủy</span>
                }
                else
                {
                    <span class="font-weight-bold text-danger">Đã hủy</span>
                }
            </td>
            <td>
                @String.Format(currency, "{0:c0}", item.tong_tien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tg_tao)
            </td>
            <td>
                <a class="btn btn-warning" href="@Url.Action("Details","AInvoice",new { id= item.id})">Chi tiết</a>
                @if (item.trang_thai == hoa_don.TRANG_THAI_XU_LY)
                {
                    <a class="btn btn-success" href="@Url.Action("Payment","AInvoice",new { id= item.id})">Thanh toán</a>
                }
                else if (item.trang_thai == hoa_don.TRANG_THAI_YEU_CAU_HUY)
                {
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Yêu cầu hủy
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="@Url.Action("ConfirmRequestCannel","AInvoice",new { id=item.id,confirm="yes"})">Xác nhận</a>
                            <a class="dropdown-item" href="@Url.Action("ConfirmRequestCannel","AInvoice",new { id=item.id,confirm="no"})">Từ chối</a>
                        </div>
                    </div>
                }
                <a class="btn btn-danger" href="@Url.Action("Delete","AInvoice",new { id= item.id})" data-confirm="Chắc chắn xóa? Nếu xóa danh mục sẽ xóa tất cả những sản phẩm trong danh mục đó">Xóa</a>
            </td>
        </tr>
            }
        </table>
        <div class="row pb-5">
            <div class="col">
                <div class="pagination justify-content-md-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "AProduct", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear',
                format: 'YYYY/MM/DD'
            }
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
        $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
        });

        $('input[name="daterange"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

    });
</script>