@model IEnumerable<HungHaStore.Models.hoa_don>
@using PagedList.Mvc
@using HungHaStore.Models;
@{
    var currency = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    ViewBag.Title = "ListInvoice";
}
<div class="container">
    <div class="card">
        <div class="card-header">
            <b>HÓA ĐƠN</b>
            <a href="@Url.Action("Index","Home")" class="btn btn-secondary pull-right">< Quay lại</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th>
                            Thời gian tạo
                        </th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.trang_thai == hoa_don.TRANG_THAI_XU_LY)
                            {
                                <p class="text-warning font-weight-bold">Đang xử lý</p>
                            }
                            else if (item.trang_thai == hoa_don.TRANG_THAI_YEU_CAU_HUY)
                            {
                                <p class="text-danger font-weight-bold">Yêu cầu hủy</p>
                            }
                            else if (item.trang_thai == hoa_don.TRANG_THAI_HUY)
                            {
                                <p class="text-secondary font-weight-bold">Đã hủy</p>
                            }
                            else
                            {
                                <p class="text-success font-weight-bold">Thanh toán thành công</p>
                            }
                        </td>
                        <td>
                            @String.Format(currency, "{0:c0}", item.tong_tien)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tg_tao)
                        </td>
                        <td>
                            <a href="@Url.Action("Checkout","Cart",new { id = item.id })" class="btn btn-secondary">Chi tiết</a>
                            @if (item.trang_thai == hoa_don.TRANG_THAI_XU_LY)
                            {
                                <a href="@Url.Action("RequestCancelInvoice","Invoice",new { id=item.id})" class="btn btn-danger">Hủy Hóa Đơn</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>
