@{ 
    string _active = "";
    string _controller = ViewContext.RouteData.Values["controller"].ToString();
    string _action = ViewContext.RouteData.Values["action"].ToString();
    string currentAction = ViewContext.RouteData.Values["controller"].ToString() + "/" + ViewContext.RouteData.Values["action"].ToString();
    string _class_hero_normal = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="/Assest/img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="@Url.Action("Login", "Security")"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/Assest/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="@{_active = currentAction == "Home/Index" ? "active" : ""; @_active}"><a href="@Url.Action("Index", "Home")">TRANG CHỦ</a></li>
                            <li class="@{_active = _controller == "Product" ? "active" : ""; @_active}"><a href="@Url.Action("Index", "Product")">SẢN PHẨM</a></li>
                            <li class="@{_active = currentAction == "Home/About" ? "active" : ""; @_active}"><a href="@Url.Action("About", "Home")">GIỚI THIỆU</a></li>
                            <li class="@{_active = currentAction == "Home/Contact" ? "active" : ""; @_active}"><a href="@Url.Action("Contact", "Home")">LIÊN HỆ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price"><span>150.000 đ</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <section class="hero @{_class_hero_normal = currentAction != "Home/Index" ? "hero-normal" : "";@_class_hero_normal}">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Danh mục</span>
                        </div>
                        <ul style="@{string display = currentAction != "Home/Index"?"display:none":""; @display}">
                            <li><a href="#">Giường</a></li>
                            <li><a href="#">Tủ quần áo</a></li>
                            <li><a href="#">Bàn làm việc</a></li>
                            <li><a href="#">Bàn trang điểm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="Bạn muốn tìm gì?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+84 11.188.888</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                    @if (currentAction == "Home/Index")
                    {
                    <div class="hero__item set-bg" data-setbg="/Assest/img/hero/banner.jpg" style="background-position: unset;">
                    </div>
                    }
                </div>
            </div>
        </div>
        </div>
    </section>
    @RenderBody()
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="/Assest/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: 96 Định Công - Thanh Xuân - Hà Nội</li>
                            <li>Phone: +84 11.188.888</li>
                            <li>Email: hungha@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Địa chỉ</h6>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.1960173865823!2d105.83639861489694!3d20.984778286022262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac5d5d09255d%3A0x7b952e68b5dfbd38!2zOTYgxJDhu4tuaCBDw7RuZywgUGjGsMahbmcgTGnhu4d0LCBUaGFuaCBYdcOibiwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1645697844918!5m2!1svi!2s" width="auto" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Tham gia với chúng tôi</h6>
                        <p>Để nhận được thông tin về những sản phẩm mới nhất.</p>
                        <form action="#">
                            <input type="text" placeholder="Nhập vào email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/custom ")
</body>
</html>
